openapi: 3.1.0
info:
  title: API de Mascotas Galácticas
  description: >
    Esta es una API de ejemplo que incluye la mayoría de las funcionalidades de OpenAPI.
    Permite gestionar criaturas de otros planetas, sus hábitats y pedidos.
  version: 1.0.0
  contact:
    name: Soporte Intergaláctico
    url: https://ejemplo.com/soporte
    email: admin@galaxia.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.mascotasgalacticas.com/v1
    description: Servidor de producción
  - url: http://localhost:8080/v1
    description: Servidor de desarrollo local

tags:
  - name: Mascotas
    description: Operaciones con criaturas espaciales
  - name: Pedidos
    description: Gestión de compras y envíos

paths:
  /mascotas:
    get:
      tags:
        - Mascotas
      summary: Listar todas las mascotas
      description: Retorna una lista paginada de mascotas disponibles.
      parameters:
        - name: limite
          in: query
          description: Número de resultados por página
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lista de mascotas obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mascota'
        '500':
          $ref: '#/components/responses/ErrorServidor'

    post:
      tags:
        - Mascotas
      summary: Registrar una nueva mascota
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mascota'
      responses:
        '201':
          description: Mascota creada exitosamente
        '401':
          description: No autorizado - Token inválido o ausente

  /mascotas/{mascotaId}:
    parameters:
      - name: mascotaId
        in: path
        required: true
        description: ID único de la criatura
        schema:
          type: string
          format: uuid

    get:
      tags:
        - Mascotas
      summary: Obtener detalle de una mascota
      responses:
        '200':
          description: Datos de la mascota
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mascota'
        '404':
          description: La mascota no existe en esta dimensión

components:
  schemas:
    Mascota:
      type: object
      required:
        - nombre
        - especie
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: "550e8400-e29b-41d4-a716-446655440000"
        nombre:
          type: string
          example: "Zorg"
        especie:
          type: string
          example: "Tentaculón de Venus"
        edad:
          type: integer
          minimum: 0
          example: 150
        estado:
          type: string
          enum: [disponible, reservado, vendido]
          default: disponible

    Error:
      type: object
      properties:
        codigo:
          type: integer
        mensaje:
          type: string

  responses:
    ErrorServidor:
      description: Error interno del servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    BearerAuth:            # Esquema de autenticación JWT
      type: http
      scheme: bearer
      bearerFormat: JWT